<div class="page-header">
	<div class="pull-left"><h1><%= @software.name %></h1></div>
	<div class="pull-right"><%= link_to "Edit", edit_software_path(@software), class: "btn btn-default" %>&nbsp;&nbsp;<%= link_to "Delete", @software, :method => :delete, class: "btn btn-danger" %></div>
</div>
<div class="row">
	<br /><br /><br />
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="http://placehold.it/480x320" />
			<div class="caption">
				<table class="table">
					<tr><td><b>Official Site:</b></td><td class="text-right"><a href="<%= @software.url %>"><%= @software.url %></a></td></tr>
					<tr><td><b>License:</b></td><td class="text-right"><%= @software.license %></td></tr>
					<tr>
						<td><b>Tags:</b></td>
						<td class="text-right">
							<span class="label label-large label-success">game</span><br />
							<span class="label label-large label-primary">open source</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<h2>Description</h2>
		<p><%= @software.description %></p>

		<h2>Packages</h2>
		<% if @packages.length == 0 %>
		There are no packages available for this software.
		<% else %>
		<table class="table table-hover">
			<% @packages.each do |p| %>
			<tr><th colspan="3"><h3><%= p[:distro] %></h3></th></tr>
			<% p[:packages].each do |pkg| %>
			<tr><td><code><%= pkg[:name] %></code></td><td><%= pkg[:version] %></td><td><%= pkg[:description] %></td></tr>
			<% end %>
			<% end %>
		</table>
		<% end %>
	</div>
</div>
